*

!.gitignore
!*.yml
!*.yaml
!*.md
!*.conf
!*.txt

!/traefik/
!/traefik/traefik.toml

!/fail2ban/
!/fail2ban/data
!/fail2ban/data/filter.d
!/fail2ban/data/jail.d

!/authelia/
!/authelia/config.minimal.yml
